/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    background: #fff;
    font-size: 16px;
    padding: 50px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Modo oscuro */
body.dark-mode {
    background-color: #121212; /* Fondo oscuro */
    color: #e0e0e0; /* Texto gris claro */
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1, h3, h5, h6 {
    color: #000;
}

/* Títulos en modo oscuro */
body.dark-mode h1, body.dark-mode h3, 
body.dark-mode h5, body.dark-mode h6 {
    color: #a1a3a6; /* Títulos gris claro en modo oscuro */
}

h2, h4, h5 {
    color: #343a40; /* Morado oscuro */
}

/* Títulos morados en modo oscuro */
body.dark-mode h2, body.dark-mode h4, body.dark-mode h5 {
    color: #a1a3a6; /* Títulos morado claro en modo oscuro */
}

/* Enlaces */
a, .a1 {
    color: #343a40;
    transition: color 0.3s ease-in-out;
}

/* Enlaces al pasar el cursor */
a:hover {
    color: #007bff;
}

/* Enlaces en modo oscuro */
body.dark-mode a, body.dark-mode .a1 {
    color: #e0e0e0;
    transition: color 0.3s ease-in-out;
}

/* Enlaces al pasar el cursor en modo oscuro */
body.dark-mode a:hover {
    color: #bb86fc; /* Color de hover en modo oscuro */
}

/* Barra lateral */
.sidebar {
    width: 20%;
    height: 100%; /* Ocupar toda la altura del viewport */
    padding: 20px;
    position: fixed;
    left: 0; /* Fija la barra lateral en el lado izquierdo */
    margin-left: 10%;
    
}

.content {
    margin-left: 25%; /* Desplaza el contenido a la derecha de la barra lateral */
    padding: 20px;
    position: relative; /* Permite que el contenido se desplace al hacer scroll */
}


/* Ocultar las secciones por defecto */
.section-content {
    display: none;
}

.section-content.active {
    display: block;
}

/* Párrafos y listas */
p, ul {
    font-size: 1rem;
    line-height: 1.6;
    color: #343a40;
}

/* Párrafos y listas en modo oscuro */
body.dark-mode p, body.dark-mode ul, body.dark-mode li {
    color: #e0e0e0; /* Texto gris claro en modo oscuro */
}

/* Enlaces de la barra lateral */
.sidebar ul li a {
    color: #343a40;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/* Enlaces de la barra lateral en modo oscuro */
body.dark-mode .sidebar ul li a {
    color: #e0e0e0; /* Texto claro para los enlaces de la barra lateral en modo oscuro */
}

body.dark-mode .sidebar ul li a:hover {
    text-decoration: underline;
    color: #bb86fc; /* Color de hover en modo oscuro para enlaces de la barra lateral */
}

/* Estilos para el botón redondo */
#toggle-dark-mode {
    border: none; /* Sin contorno */
    background-color: transparent; /* Fondo transparente */
    padding: 11px; /* Espaciado interno */
    border-radius: 50%; /* Hace que el botón sea redondo */
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  #toggle-dark-mode i {
    font-size: 1rem; /* Tamaño del icono */
    color: #a1a3a6; /* Color del icono en la barra */
  }
  
  #toggle-dark-mode:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo ligero al hacer hover */
  }

  #toggle-dark-mode {
    z-index: 10; /* Asegura que el botón esté por encima de otros elementos */
}



